{% extends "base.html" %}

{%block content %}



<div class="container">
<div class="row mb-3">
  <div class="col-md-8 themed-grid-col"><form action="" method="post">
    <div class="form-group">
      <h2>
      {{form.inputValue.label}}
      </h2><br>
      {{form.inputValue(cols="80", rows="20")}}
    </div>
      <center>
        {{form.submit()}}
      </center>
    </form>
  </div>

  <div class="col-md-4 themed-grid-col">
    {% if result is not none %}
      <h2>
      {{ result }}
      </h2>
    {% else %}
        NONE
    {%endif %}
  </div>

</div>
{% endblock %}
